---
const currentYear = new Date().getFullYear();
---

<footer
  x-data="{ intersect: false }"
  x-intersect:enter="intersect = true"
  x-intersect:leave="intersect = false"
>
  <div
    class="group opacity-0"
    :class="intersect ? 'animate-fade-up animate-duration-1000 animate-ease-in-out': 'opacity-0'"
  >
    <p>Readapt & Developed by</p>
    <p>&copy; {currentYear} Jefferson Espinoza</p>
  </div>
  <p class="socials">
    <a
      class="opacity-0"
      :class="intersect ? 'animate-fade-left animate-duration-1000 animate-delay-300 animate-ease-in': 'opacity-0'"
      href="https://twitter.com/me"
    >
      Instagram</a
    >
    <a
      class="opacity-0"
      :class="intersect ? 'animate-fade-left animate-duration-1000 animate-delay-500 animate-ease-in': 'opacity-0'"
      href="https://github.com/me"
    >
      GitHub</a
    >
    <a
      class="opacity-0"
      :class="intersect ? 'animate-fade-left animate-duration-1000 animate-delay-700 animate-ease-in': 'opacity-0'"
      href="https://codepen.io/me"
    >
      LinkedIn</a
    >
  </p>
</footer>
<style>
  footer {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: auto;
    padding: 3rem 2rem 3rem;
    text-align: center;
    color: var(--gray-400);
    font-size: var(--text-sm);
  }

  footer a {
    color: var(--gray-400);
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  footer a:hover,
  footer a:focus {
    text-decoration-color: currentColor;
  }

  .group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
  }

  @media (min-width: 50em) {
    footer {
      flex-direction: row;
      justify-content: space-between;
      padding: 2.5rem 5rem;
    }

    .group {
      flex-direction: row;
      gap: 1rem;
      flex-wrap: wrap;
    }

    .socials {
      justify-content: flex-end;
    }
  }
</style>
